{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'certificates' %}">Certificates</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/doan-idriz-70b472165/" target="_blank">
                <img src="{% static '../../static/media/icons8-linkedin-48.png' %}" alt="LinkedIn">
            </a>
            <a href="https://github.com/Aransok" target="_blank">
                <img src="{% static '../../static/media/icons8-github-48.png' %}" alt="GitHub">
            </a>
        </div>
        <p>&copy; 2025 My Portfolio</p>
    </footer>
    
</body>
</html>
