{% extends 'portfolio_website/base.html' %}
{% load static %}
{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<section class="projects-section">
    <div class="project-card">
        <img src="{% static '../../static/media/coding-background.jpg' %}" alt="LLM Article Summarizer">
        <h3><a href="https://github.com/Aransok/LLM-Article-Summarizer" style="text-decoration:none">LLM Article Summarizer</a></h3>
        <p>Python project for Article summarization using LLM</p>
        <a href="/demo-llm-summarizer" class="demo-button">Try Demo</a> 
    </div>
    <div class="project-card">
        <img src="{% static '../../static/media/coding-background.jpg' %}" alt="Angular Movies Web Site">
        <h3><a href="https://github.com/Aransok/Angular-Project-Moviesite" style="text-decoration:none">Angular Movies Web Site</a></h3>
        <p>A movie site using Angular and Node.js</p>
    </div>
    <div class="project-card">
        <img src="{% static '../../static/media/coding-background.jpg' %}" alt="Angular Movies Web Site">
        <h3><a href="https://github.com/Aransok/Portfolio-website" style="text-decoration:none">Django Portfolio Website</a></h3>
        <p>Basic portfolio website using Django</p>
    </div>
    <div class="project-card">
        <img src="{% static '../../static/media/coding-background.jpg' %}" alt="Angular Movies Web Site">
        <h3><a href="https://github.com/Aransok/ProjectProtect" style="text-decoration:none">Python Movie website </a></h3>
        <p>Django movie website !It is an old project! </p>
    </div>
    </div>
    
</section>
{% endblock %}
